@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

.form {
  max-width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border: #838383;
  border-style: solid;
  border-width: 1px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  height: 60px;
  background-color: #2f80ed;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  animation: fade 2.5s;
  border: none;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 2s;
}

.form__checkbox {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  height: 20px;
  width: 20px;
  margin: 0 12px 0 0;
}
