@keyframes change_color_nav {
  from {
    color: black;
  }
  to {
    color: #2f80ed;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  animation: change_color_nav 2.5s ease-in-out;
}
